/*hiding all locations*/

.btn {
  display: block;
}

#JohnDay {
  display: none;
}
#Vancouver {
  display: none;
}
#Nola {
  display: none;
}
#Minnesota {
  display: none;
}
#PuertoRico {
  display: none;
}
#Iceland {
  display: none;
}